ion-content.background {
	--background: url('/assets/images/menu-bg.png') no-repeat 100% 100%;
	background-size: cover !important;
	background-position: center center !important;
	background-attachment: fixed !important;
}

img{
    padding: 50px 0px 50px 0px;
	width: auto;
	margin: auto;
	display: block;
}

ion-header{
   box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
}

ion-card{
   background-color: white;
   box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
   padding: 10px;
}

ion-list{
	background: transparent;
}

ion-item{
	--highlight-background: unset;	
}

ion-input{
	border-color: rgba(0, 0, 0, 0);
	background-color: #ededed;
	border-radius: 20px;
	font-family: 'Century Gothic', san-serif;
	text-align: center;
}

p{
	font-family: 'Century Gothic', san-serif;
	margin-right: 16px;
	margin-left: 16px;		
}

ion-button{
	color: white; 
	margin-right: 20px;
	margin-left: 16px;
	font-family: 'Century Gothic', san-serif;	
}