<ion-header no-border>
  <ion-toolbar color="secondary" no-border>
  	<ion-buttons slot="start">
	  <ion-back-button text="back" icon="arrow-dropleft" fill="outline">
	  </ion-back-button>
    </ion-buttons>
  	<ion-title>
  		RECORD CONTENT
  	</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div style="padding-top: 20px;padding-left: 35px; padding-right: 35px; height:150px;background-color: #0cd1e8;">
		<div style="text-align: center; color:white;">
			<h2>{{fname}} {{mname}} {{lname}}</h2>
			<ion-label>Patient Name</ion-label>
		</div>	  
	</div>
	<div class="ion-padding">
		
		<ion-card>
		  <ion-card-header>
		  	<div style="text-align: center;">	  		
			    <ion-card-title><b>Patient Information</b></ion-card-title>
		  	</div>
		  </ion-card-header>
		  <ion-card-content>
		  	<ion-row>
		  		<ion-col>
		  			<b>Record Number</b>
			  		<br>
				  	<h2>{{pe_id}}</h2>		  	
		  		</ion-col>
		  		<ion-col>
		  			<b>Patient ID</b>
		  			<br>
		  			<h2>{{patient_id}}</h2>
			  		<br>
		  		</ion-col>		  		
		  	</ion-row>
		  	<ion-row>
		  		<ion-col>
			  		<b>Serial Number</b>
				  	<h2>{{family_serial_no}}</h2>		  			  				  			  			  		
		  		</ion-col>
		  	</ion-row>
		  </ion-card-content>
		</ion-card>
		<ion-card>
		  <ion-card-header>
		  	<div style="text-align: center;">  		
			    <ion-card-title><b>Personal Information</b></ion-card-title>
		  	</div>
		  </ion-card-header>
		  <ion-card-content>
		  	<ion-row>
		  		<ion-col>
		  			<b>Civil Status</b>
		  			<br>
		  			<h2>{{civil_stat}}</h2>
		  		</ion-col>
		  		<ion-col>
		  			<b>Family Position</b>
		  			<br>
		  			<h2>{{fam_position}}</h2>
		  			<br>
		  		</ion-col>
		  	</ion-row>
		  	<ion-row>
		  		<ion-col>
		  			<b>Gender</b>
		  			<br>
		  			<h2>{{sex}}</h2>
		  			<br>
		  		</ion-col>
		  		<ion-col>
		  			<b>Blood Type</b>
		  			<br>
		  			<h2>{{bloodtype}}</h2>
		  			<br>
		  		</ion-col>		  		
		  	</ion-row>
		  	<ion-row>
		  		<ion-col>
				  	<b>Suffix</b>
				  	<br>
				  	<h2>{{suffix}}</h2>
				  	<br>
				  	<b>Birth Date</b>
				  	<br>
				  	<h2>{{b_date}}</h2>
				  	<br>
				  	<b>Birth Place</b>
				  	<br>
				  	<h2>{{b_place}}</h2>
				  	<br>
				  	<b>Educational Attaintment</b>
				  	<br>
				  	<h2>{{educ_attainment}}</h2>
				  	<br>
				  	<b>Employment Status</b>
				  	<br>
				  	<h2>{{employ_status}}</h2>
		  		</ion-col>
		  	</ion-row>
		  </ion-card-content>
		</ion-card>
		<ion-card>
		  <ion-card-header>
		  	<div style="text-align: center;">  		
			    <ion-card-title><b>Contact Information</b></ion-card-title>
		  	</div>
		  </ion-card-header>
		  <ion-card-content>
		  	<ion-row>
		  		<ion-col>
				  	<b>Contact Number</b>
				  	<br>
				  	<h2>{{contact_no}}</h2>
				  	<br>
				  	<b>Spouse</b>
				  	<br>
				  	<h2>{{spouse_name}}</h2>
				  	<br>
				  	<b>Mothers Name</b>
				  	<br>
				  	<h2>{{mothers_name}}</h2>
		  		</ion-col>
		  	</ion-row>
		  </ion-card-content>
		</ion-card>
		<ion-card>
		  <ion-card-header>
		  	<div style="text-align: center;">	  		
			    <ion-card-title>Residential Address</ion-card-title>
		  	</div>
		  </ion-card-header>
		  <ion-card-content>
		  	<ion-row>
		  		<ion-col>
				  	<b>Address</b>
				  	<br>
				  	<h2>{{home_no}} {{street}} {{barangay}}</h2>
				  	<br>
				  	<b>City</b>
				  	<br>
				  	<h2>{{city}}</h2>
				  	<br>
				  	<b>Province</b>
				  	<br>
				  	<h2>{{province}}</h2>
		  		</ion-col>
		  	</ion-row>
		  </ion-card-content>
		</ion-card>
		<ion-card>
		  <ion-card-header>
		  	<div style="text-align: center;">
			    <ion-card-title><b>CHO/RHU Information</b></ion-card-title>
		  	</div>
		  </ion-card-header>
		  <ion-card-content>
		  	<ion-row>
		  		<ion-col>
				  	<b>Philhealth Member</b>
				  	<br>
				  	<h2>{{ph_member}}</h2>
				  	<br>		  			
		  		</ion-col>
		  		<ion-col>  			
				  	<b>Philhealth Number</b>
				  	<br>
				  	<h2>{{ph_no}}</h2>
				  	<br>
		  		</ion-col>		  		
		  	</ion-row>
		  	<ion-row>
		  		<ion-col>
		  			<b>DSWD NHTS</b>
				  	<br>
				  	<h2>{{dswdnhts}}</h2>
				  	<br>
		  		</ion-col>
		  		<ion-col>
				  	<b>Household Number</b>
				  	<br>
				  	<h2>{{facility_no}}</h2>
				  	<br>
		  		</ion-col>
		  	</ion-row>
		  	<ion-row>
		  		<ion-col>
				  	<b>Member Category</b>
				  	<br>
				  	<h2>{{member_category}}</h2>
		  		</ion-col>
		  	</ion-row>
		  </ion-card-content>
		</ion-card>
	</div>
	<ion-fab slot="fixed" style="position: absolute; bottom: 5%; right: 10%;">
      <ion-fab-button  (click)="updatePerRec(pe_id,family_serial_no,lname,fname,mname,suffix,sex,b_place, b_date,bloodtype,civil_stat,spouse_name,educ_attainment,employ_status,fam_position,patient_id,home_no,street,barangay,city,province,mothers_name,contact_no,dswdnhts,facility_no,ph_member,ph_no,member_category)">
        <ion-icon name="create">
        </ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>