<ion-app>
  <ion-split-pane>
    <ion-menu contentId="content">
      <!-- header -->
      <ion-header>
        <div style="background-color: #0cd1e8;">
          <div>
            <img src="assets/images/side-menu2.png" alt="logo">        
          </div>
        </div>
      </ion-header>
      <!-- body -->
      <ion-content>
        <!-- appPages menu iteration -->
          <div *ngFor="let item of appPages; let i = index;"  detail="false" no-padding>  
             <ion-menu-toggle auto-hide="false" *ngIf="item.url">
                <ion-item [routerLink]="item.url" routerDirection="root" routerLinkActive="active"> 
                  <ion-icon color="primary"  [name]="item.icon" slot="start"></ion-icon>
                  <ion-label class="text-font">
                    {{item.title}}
                  </ion-label>
                  <ion-badge *ngIf="item.notif != 0 || item.notif != ''" slot="end" color="danger">{{item.notif}}</ion-badge>                  
                </ion-item>
              </ion-menu-toggle>           

            <ion-item tappable *ngIf="item.children?.length > 0" (click)="toggleSection(i)" [ngClass] = "{'section-active': item.open, 'section': !item.open}">
              <ion-icon color="primary" slot="start" name="paper"></ion-icon>
              <ion-icon color="primary" slot="end" name="arrow-dropright" *ngIf="!item.open"></ion-icon>
              <ion-icon color="primary" slot="end" name="arrow-dropdown" *ngIf="item.open"></ion-icon>
              <ion-label class="text-font">
                {{item.title}}
              </ion-label>
            </ion-item> 

            <div *ngIf="item.children && item.open">
              <ion-list>
                <ion-menu-toggle>
                  <ion-item lines="none" class="sub-item" *ngFor="let sub of item.children" 
                  [routerLink]="sub.url" routerDirection="root" routerLinkActive="active">
                    <ion-icon color="primary" slot="start" [name]="sub.icon"></ion-icon>
                    <ion-label class="text-font">
                      {{sub.title}}
                    </ion-label>
                  </ion-item>
                </ion-menu-toggle>
              </ion-list>
            </div>
   
          </div>
        
      </ion-content>
      <!-- footer -->
      <ion-footer ion-no-border>
        <div style="text-align: center;">
          <p>Mappcho v.1.0.0</p>
        </div>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="content" main></ion-router-outlet>
  </ion-split-pane>
</ion-app>