<ion-header>
  <ion-toolbar color="secondary">
  	<ion-buttons slot="start">
	  <ion-back-button text="back" icon="arrow-dropleft" fill="outline">
	  </ion-back-button>
    </ion-buttons>	
	<ion-title>
		Record Information
	</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
		<div class="ion-padding">
			<ion-card>
			  <ion-card-header>
			  	<div style="text-align: center;">	  		
				    <ion-card-title><b>User Information</b></ion-card-title>
			  	</div>
			  </ion-card-header>
			  <ion-card-content>
			  	<ion-row>
			  		<ion-col>
				  		<b>User ID</b>
				  		<br>
					  	<h2>{{accid}}</h2>		  			  				  			  			  		
			  		</ion-col>
			  		<ion-col>
				  		<b>Status</b>
				  		<br>
					  	<h2>{{status}}</h2>		  			  				  			  			  		
			  		</ion-col>			  		
			  	</ion-row>
			  	<br>
			  	<ion-row>
			  		<ion-col>
				  		<b>Username</b>
				  		<br>
					  	<h2>{{uname}}</h2>		  			  				  			  			  		
			  		</ion-col>
			  	</ion-row>
			  	<br>
			  	<ion-row>
			  		<ion-col>
				  		<b>Password</b>
				  		<br>
					  	<h2>{{upass}}</h2>		  			  				  			  			  		
			  		</ion-col>
			  	</ion-row>		
			  </ion-card-content>
			</ion-card>
			<ion-card>
			  <ion-card-header>
			  	<div style="text-align: center;">	  		
				    <ion-card-title><b>Personal Information</b></ion-card-title>
			  	</div>
			  </ion-card-header>
			  <ion-card-content>
			  	<ion-row>
			  		<ion-col>
				  		<b>Full Name</b>
				  		<br>
					  	<h2>{{fname}} {{lname}}</h2>		  			  				  			  			  		
			  		</ion-col>		  		
			  	</ion-row>
			  	<br>
			  	<ion-row>
			  		<ion-col>
				  		<b>Birth Date</b>
				  		<br>
					  	<h2>{{bdate}}</h2>		  			  				  			  			  		
			  		</ion-col>
			  		<ion-col>
				  		<b>Gender</b>
				  		<br>
					  	<h2>{{gender}}</h2>		  			  				  			  			  		
			  		</ion-col>			  		
			  	</ion-row>
			  	<br>
			  	<ion-row>
			  		<ion-col>
				  		<b>Email Address</b>
				  		<br>
					  	<h2>{{email}}</h2>		  			  				  			  			  		
			  		</ion-col>
			  	</ion-row>		
			  	<br>
			  	<ion-row>
			  		<ion-col>
				  		<b>Address</b>
				  		<br>
					  	<h2>{{address}}</h2>
			  		</ion-col>
			  	</ion-row>					  	
			  </ion-card-content>
			</ion-card>			

		</div>
	</ion-grid>
	<ion-fab slot="fixed" style="position: absolute; bottom: 5%; right: 10%;">
      <ion-fab-button (click)="updateAccount(accid,uname,upass,usertype,status,fname,lname,bdate,gender,email,address)">
        <ion-icon name="create">
        </ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
