<ion-header>
  <ion-toolbar color="secondary">
  	<ion-buttons slot="start">
	  <ion-back-button text="back" icon="arrow-dropleft" fill="outline">
	  </ion-back-button>
    </ion-buttons>
    <ion-title>
  		RECORD CONTENT
  	</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
	<ion-grid>
		<ion-input class="ion-hide" [(ngModel)]="uid" value="{{userid}}"></ion-input>
		<div class="ion-padding">
			<ion-item>
				<h4><b>Patient Information</b></h4>						
			</ion-item>
			<ion-row>
				<ion-col>
					<ion-item lines="none">
						<ion-label><b>Record ID:</b></ion-label>
					</ion-item>
				</ion-col>
				<ion-col>
					<ion-item lines="none">
						<ion-label>{{itr_id}}</ion-label>
					</ion-item>
				</ion-col>				
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item lines="none">
						<ion-label><b>Patient Name:</b></ion-label>
					</ion-item>
					<ion-item lines="none">
						<ion-label style="padding: 10px !important;">{{fullname}}</ion-label>
					</ion-item>					
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item lines="none">
						<ion-label><b>Residential Address:</b></ion-label>
					</ion-item>
					<ion-item lines="none">
						<ion-label style="padding: 10px !important;">{{address}}</ion-label>
					</ion-item>					
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item lines="none">
						<ion-label><b>Family Serial No:</b></ion-label>
					</ion-item>
				</ion-col>
				<ion-col>
					<ion-item lines="none">
						<ion-label>{{family_serial_no}}</ion-label>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item lines="none">
						<ion-label><b>Age:</b></ion-label>
					</ion-item>
				</ion-col>
				<ion-col>
					<ion-item lines="none">
						<ion-label>{{age}}</ion-label>
					</ion-item>
				</ion-col>				
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item lines="none">
						<ion-label><b>Blood Pressure:</b></ion-label>
					</ion-item>
				</ion-col>
				<ion-col>
					<ion-item lines="none">
						<ion-label>{{blood_pressure}}</ion-label>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item lines="none">
						<ion-label><b>Height(cm):</b></ion-label>
					</ion-item>
				</ion-col>
				<ion-col>
					<ion-item lines="none">
						<ion-label>{{height}}</ion-label>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item lines="none">
						<ion-label><b>Temperature:</b></ion-label>
					</ion-item>
				</ion-col>
				<ion-col>
					<ion-item lines="none">
						<ion-label>{{temperature}}</ion-label>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item lines="none">				
						<ion-label><b>Weight(kg):</b></ion-label>
					</ion-item>
				</ion-col>
				<ion-col>
					<ion-item lines="none">
						<ion-label>{{weight}}</ion-label>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-item>
				<h4><b>for CHU/RHU </b></h4>
			</ion-item>
			<ion-row>
				<ion-col>
					<ion-item lines="none">
						<ion-label><b>Transaction:</b></ion-label>
					</ion-item>
				</ion-col>
				<ion-col>
					<ion-item lines="none">
						<ion-label>{{mode_transaction}}</ion-label>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item lines="none">
						<ion-label><b>Referred from:</b></ion-label>
					</ion-item>
					<ion-item lines="none">
						<ion-label>{{referred_from}}</ion-label>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item lines="none">
						<ion-label><b>Referred to:</b></ion-label>
					</ion-item>
					<ion-item lines="none">
						<ion-label>{{referred_to}}</ion-label>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item lines="none">
						<ion-label><b>Reason of Referral:</b></ion-label>
					</ion-item>
					<ion-item lines="none">
						<ion-label>{{reason_of_referral}}</ion-label>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item lines="none">
						<ion-label><b>Reffered by:</b></ion-label>
					</ion-item>
					<ion-item lines="none">
						<ion-label>{{referred_by}}</ion-label>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item lines="none">
						<ion-label><b>Consultation Date:</b></ion-label>
					</ion-item>					
				</ion-col>
				<ion-col>
					<ion-item lines="none">
						<ion-label style="padding: 10px !important;">{{date_consultation}} / {{time_consultation}}</ion-label>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item lines="none">
						<ion-label><b>Attending Officer:</b></ion-label>
					</ion-item>
					<ion-item lines="none">
						<ion-label style="padding: 10px !important;">{{name_of_attending}}</ion-label>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item lines="none">
						<ion-label><b>Nature of Visit:</b></ion-label>
					</ion-item>
					<ion-item lines="none">
						<ion-label style="padding: 10px !important;">{{nature_of_visit}}</ion-label>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item lines="none">
						<ion-label><b>Health Care Personnel:</b></ion-label>
					</ion-item>
					<ion-item lines="none">
						<ion-label style="padding: 10px !important;">{{name_health_careprovider}}</ion-label>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item lines="none">
						<ion-label><b>Chief Complaints:</b></ion-label>
					</ion-item>
					<ion-item lines="none">
						<p style="padding: 10px !important;">{{chief_complaints}}</p>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item lines="none">
						<ion-label><b>Diagnosis:</b></ion-label>
					</ion-item>
					<ion-item lines="none">
						<p style="padding: 10px !important;">{{diagnosis}}</p>
					</ion-item>		
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item lines="none">
						<ion-label><b>Laboratory Test:</b></ion-label>
					</ion-item>
					<ion-item lines="none">
						<p style="padding: 10px !important;">{{performed_lab_test}}</p>
					</ion-item>					
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item lines="none">
						<ion-label><b>Medication/Treatment:</b></ion-label>
					</ion-item>
					<ion-item lines="none">
						<p style="padding: 10px !important;">{{medication}}</p>
					</ion-item>					
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item lines="none">
						<ion-label><b>Lab Findings/Impressions:</b></ion-label>
					</ion-item>
					<ion-item lines="none">
						<p style="padding: 10px !important;">{{lab_findings}}</p>
					</ion-item>					
				</ion-col>
			</ion-row>
		</div>
	</ion-grid>
	<ion-fab slot="fixed" style="position: absolute; bottom: 5%; right: 10%;">
      <ion-fab-button (click)="updateItrRec(itr_id,fullname,address,family_serial_no,age,mode_transaction, blood_pressure,height,temperature,weight,date_consultation,time_consultation,name_of_attending,nature_of_visit,referred_from,referred_to,reason_of_referral,referred_by,name_health_careprovider,chief_complaints,diagnosis,performed_lab_test,medication,lab_findings)" >
        <ion-icon name="create">
        </ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content> -->

<ion-content>
	<div class="ion-padding">
		<div style="text-align: center;">
			<h2>{{fullname}}</h2>
			<ion-label>Patient Name</ion-label>
		</div>
		<ion-card>
		  <ion-card-header>
		  	<div style="text-align: center;">	  		
			    <ion-card-title>Patient Information</ion-card-title>
		  	</div>
		  </ion-card-header>
		  <ion-card-content>
		  	<ion-row>
		  		<ion-col>
		  			Record ID
			  		<br>
				  	<h1>{{itr_id}}</h1>
				  	<br>		  	
		  		</ion-col>	  		
		  		<ion-col>
			  		Serial Number
				  	<h1>{{family_serial_no}}</h1>		  			  				  			  			  		
		  		</ion-col>
		  	</ion-row>
		  </ion-card-content>
		</ion-card>
		<ion-card>
		  <ion-card-header>
		  	<div style="text-align: center;">  		
			    <ion-card-title>Personal Information</ion-card-title>
		  	</div>
		  </ion-card-header>
		  <ion-card-content>
		  	<ion-row>
		  		<ion-col>
		  			Age
		  			<br>
		  			<h1>{{age}}</h1>
		  			<br>
		  		</ion-col>
		  		<ion-col>
		  			Blood Pressure
		  			<br>
		  			<h1>{{blood_pressure}}</h1>
		  			<br>
		  		</ion-col>
		  	</ion-row>
		  	<ion-row>
		  		<ion-col>
		  			Height (cm)
		  			<br>
		  			<h1>{{height}}</h1>
		  			<br>
		  		</ion-col>
		  		<ion-col>
		  			Weight (kg)
		  			<br>
		  			<h1>{{weight}}</h1>
		  			<br>
		  		</ion-col>		  		
		  	</ion-row>
		  	<ion-row>
		  		<ion-col>
				  	Temperature
				  	<br>
				  	<h1>{{temperature}}</h1>
				  	<br>
		  		</ion-col>
		  	</ion-row>
		  </ion-card-content>
		</ion-card>
		<ion-card>
		  <ion-card-header>
		  	<div style="text-align: center;">  		
			    <ion-card-title>For CHU/RHU</ion-card-title>
		  	</div>
		  </ion-card-header>
		  <ion-card-content>
		  	<ion-row>
		  		<ion-col>
				  	Transaction
				  	<br>
				  	<h1>{{mode_transaction}}</h1>
				  	<br>
				  	Consultation Date
				  	<h1>{{date_consultation}} / {{time_consultation}}</h1>
				  	<br>
				  	Attending Officer
				  	<h1>{{name_of_attending}}</h1>
				  	<br>
				  	Nature of Visit
				  	<h1>{{nature_of_visit}}</h1>
				  	<br>
				  	Health Care Personnel
				  	<h1>{{name_health_careprovider}}</h1>
		  		</ion-col>
		  	</ion-row>
		  </ion-card-content>
		</ion-card>
		<ion-card>
		  <ion-card-header>
		  	<div style="text-align: center;">	  		
			    <ion-card-title>Referral</ion-card-title>
		  	</div>
		  </ion-card-header>
		  <ion-card-content>
		  	<ion-row>
		  		<ion-col>
				  	Referred From
				  	<br>
				  	<h1>{{referred_from}}</h1>
				  	<br>
				  	Referred To
				  	<br>
				  	<h1>{{referred_to}}</h1>
				  	<br>
					Reason by
				  	<br>
				  	<h1>{{referred_by}}</h1>
				  	<br>
				  	Reason of Referral
				  	<p class="col-size">{{reason_of_referral}}</p>
				  	<br>
		  		</ion-col>
		  	</ion-row>
		  </ion-card-content>
		</ion-card>
		<ion-card>
		  <ion-card-header>
		  	<div style="text-align: center;">
			    <ion-card-title>Service Assesment</ion-card-title>
		  	</div>
		  </ion-card-header>
		  <ion-card-content>
		  	<ion-row>
		  		<ion-col>
				  	Chief Complaints
				  	<br>
				  	<p class="col-size">{{chief_complaints}}</p>
				  	<br>		  			
				  	Diagnosis
				  	<br>
				  	<p class="col-size">{{diagnosis}}</p>
				  	<br>
		  			Laboratory Test
				  	<br>
				  	<p class="col-size">{{performed_lab_test}}</p>
				  	<br>
				  	Medication/Treatment
				  	<br>
				  	<p class="col-size">{{medication}}</p>
				  	<br>
				  	Lab Findings/Impressions
				  	<br>
				  	<p class="col-size">{{lab_findings}}</p>
				  	<br>
		  		</ion-col>
		  		<ion-col>  			
		  		</ion-col>		  		
		  	</ion-row>
		  </ion-card-content>
		</ion-card>
	</div>
	<ion-fab slot="fixed" style="position: absolute; bottom: 5%; right: 10%;">
      <ion-fab-button (click)="updateItrRec(itr_id,fullname,address,family_serial_no,age,mode_transaction, blood_pressure,height,temperature,weight,date_consultation,time_consultation,name_of_attending,nature_of_visit,referred_from,referred_to,reason_of_referral,referred_by,name_health_careprovider,chief_complaints,diagnosis,performed_lab_test,medication,lab_findings)" >
        <ion-icon name="create">
        </ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>