 <ion-header no-border>
  <ion-toolbar color="secondary">
  	<ion-buttons slot="start">
	  <ion-back-button text="back" icon="arrow-dropleft" fill="outline">
	  </ion-back-button>
    </ion-buttons>
    <ion-title>
  		RECORD CONTENT
  	</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div style="padding-top: 20px;padding-left: 35px; padding-right: 35px; height:150px;background-color: #0cd1e8;">
		<div style="text-align: center; color:white;">
			<h2>{{fullname}}</h2>
			<ion-label>Patient Name</ion-label>
		</div>	  
	</div>
	<div class="ion-padding">
		<ion-card>
		  <ion-card-header>
		  	<div style="text-align: center;">	  		
			    <ion-card-title><b>Patient Information</b></ion-card-title>
		  	</div>
		  </ion-card-header>
		  <ion-card-content>
		  	<ion-row>
		  		<ion-col>
		  			<b>Record ID</b>
			  		<br>
				  	<h2>{{itr_id}}</h2>
				  	<br>		  	
		  		</ion-col>	  		
		  		<ion-col>
			  		<b>Serial Number</b>
				  	<h2>{{family_serial_no}}</h2>		  			  				  			  			  		
		  		</ion-col>
		  	</ion-row>
		  </ion-card-content>
		</ion-card>
		<br/>
		<ion-card>
		  <ion-card-header>
		  	<div style="text-align: center;">  		
			    <ion-card-title><b>Personal Information</b></ion-card-title>
		  	</div>
		  </ion-card-header>
		  <ion-card-content>
		  	<ion-row>
		  		<ion-col>
		  			<b>Age</b>
		  			<br>
		  			<h2>{{age}}</h2>
		  			<br>
		  		</ion-col>
		  		<ion-col>
		  			<b>Blood Pressure</b>
		  			<br>
		  			<h2>{{blood_pressure}}</h2>
		  			<br>
		  		</ion-col>
		  	</ion-row>
		  	<ion-row>
		  		<ion-col>
		  			<b>Height (cm)</b>
		  			<br>
		  			<h2>{{height}}</h2>
		  			<br>
		  		</ion-col>
		  		<ion-col>
		  			<b>Weight (kg)</b>
		  			<br>
		  			<h2>{{weight}}</h2>
		  			<br>
		  		</ion-col>		  		
		  	</ion-row>
		  	<ion-row>
		  		<ion-col>
				  	<b>Temperature</b>
				  	<br>
				  	<h2>{{temperature}}</h2>
				  	<br>
		  		</ion-col>
		  	</ion-row>
		  </ion-card-content>
		</ion-card>
		<br/>
		<ion-card>
		  <ion-card-header>
		  	<div style="text-align: center;">  		
			    <ion-card-title><b>CHO/RHU Information</b></ion-card-title>
		  	</div>
		  </ion-card-header>
		  <ion-card-content>
		  	<ion-row>
		  		<ion-col>
				  	<b>Transaction</b>
				  	<br>
				  	<h2>{{mode_transaction}}</h2>
				  	<br>
				  	<b>Consultation Date</b>
				  	<h2>{{date_consultation}} / {{time_consultation}}</h2>
				  	<br>
				  	<b>Attending Officer</b>
				  	<h2>{{name_of_attending}}</h2>
				  	<br>
				  	<b>Nature of Visit</b>
				  	<h2>{{nature_of_visit}}</h2>
				  	<br>
				  	<b>Health Care Personnel</b>
				  	<h2>{{name_health_careprovider}}</h2>
		  		</ion-col>
		  	</ion-row>
		  </ion-card-content>
		</ion-card>
		<br/>
		<ion-card>
		  <ion-card-header>
		  	<div style="text-align: center;">	  		
			    <ion-card-title><b>Referral</b></ion-card-title>
		  	</div>
		  </ion-card-header>
		  <ion-card-content>
		  	<ion-row>
		  		<ion-col>
				  	<b>Referred From</b>
				  	<br>
				  	<h2>{{referred_from}}</h2>
				  	<br>
				  	<b>Referred To</b>
				  	<br>
				  	<h2>{{referred_to}}</h2>
				  	<br>
					<b>Reason by</b>
				  	<br>
				  	<h2>{{referred_by}}</h2>
				  	<br>
				  	<b>Reason of Referral</b>
				  	<p class="col-size">{{reason_of_referral}}</p>
				  	<br>
		  		</ion-col>
		  	</ion-row>
		  </ion-card-content>
		</ion-card>
		<br/>
		<ion-card>
		  <ion-card-header>
		  	<div style="text-align: center;">
			    <ion-card-title><b>Service Assesment</b></ion-card-title>
		  	</div>
		  </ion-card-header>
		  <ion-card-content>
		  	<ion-row>
		  		<ion-col>
				  	<b>Chief Complaints</b>
				  	<br>
				  	<p class="col-size">{{chief_complaints}}</p>
				  	<br>		  			
				  	<b>Diagnosis</b>
				  	<br>
				  	<p class="col-size">{{diagnosis}}</p>
				  	<br>
		  			<b>Laboratory Test</b>
				  	<br>
				  	<p class="col-size">{{performed_lab_test}}</p>
				  	<br>
				  	<b>Medication/Treatment</b>
				  	<br>
				  	<p class="col-size">{{medication}}</p>
				  	<br>
				  	<b>Lab Findings/Impressions</b>
				  	<br>
				  	<p class="col-size">{{lab_findings}}</p>
				  	<br>
		  		</ion-col>
		  		<ion-col>  			
		  		</ion-col>		  		
		  	</ion-row>
		  </ion-card-content>
		</ion-card>
	</div>
	<ion-fab slot="fixed" style="position: absolute; bottom: 5%; right: 10%;">
      <ion-fab-button (click)="updateItrRec(itr_id,fullname,address,family_serial_no,age,mode_transaction, blood_pressure,height,temperature,weight,date_consultation,time_consultation,name_of_attending,nature_of_visit,referred_from,referred_to,reason_of_referral,referred_by,name_health_careprovider,chief_complaints,diagnosis,performed_lab_test,medication,lab_findings)" >
        <ion-icon name="create">
        </ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>